{% extends "base_generic.html" %}
{% block content %}

<button type="button" onclick="location.href='{% url 'characters:download-characters' %}'" class="btn btn-primary">Download new</button>
<div>
    <ul class="list-group">
{% for file in page_obj %}
<li class="list-group-item"><a href="{% url 'characters:characters-detail' file.id %}">{{file.id}} - {{ file.ctime|date:'Y-m-d H:i' }}</a></li>
{% endfor %}
</ul>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}